<template>
    <div v-if="shown" class="dsb-modal" @click="onClickClose">
        <div class="dsb-modal__card" @click.stop>
            <button class="dsb-modal__close-btn" @click="onClickClose"><DsbSvgIcon name="close" /></button>

            <div class="lg:flex">
                <img alt="userAvatar" :src="getAssetSrc(item.img)" class="lg:mx-0 mx-auto" />

                <div class="lg:ml-16 lg:mt-0 mt-4">
                    <h1 class="lg:text-left text-center">{{ item.name }}</h1>

                    <div class="lg:text-left text-center lg:text-[2rem] lg:leading-[3rem] text-[1rem] leading-[1.5rem] text-gray-400">
                        {{ item.description }}
                    </div>
                </div>
            </div>

            <h3 class="text-center mt-[4.625rem]">Motivation</h3>

            <div v-html="item.motivation" />
        </div>
    </div>
</template>

<script setup>
const getAssetSrc = (name) => {
    const path = `/assets/img/${name}`
    const modules = import.meta.glob('/assets/img/*', { eager: true })
    const mod = modules[path]

    return mod.default
}
</script>

<script>
export default {
    props: {
        shown: Boolean,

        item: {
            type: Object,
            default: () => ({})
        }
    },

    methods: {
        onClickClose() {
            this.$emit('closeModal', false)
        }
    }
}
</script>

<style lang="postcss">
.dsb-modal {
    @apply fixed top-0 left-0;
    @apply w-full h-screen;
    @apply bg-black bg-opacity-20;

    &__card {
        @apply relative;
        @apply max-w-[66.5625rem] w-full;
        @apply bg-white lg:rounded-[1.875rem];
        @apply mx-auto lg:mt-[5.3125rem];
        @apply lg:pt-[5.625rem] lg:pl-[5.25rem] lg:pr-[6.125rem] lg:pb-[8.125rem] p-6;
        @apply overflow-y-auto lg:h-[80%] h-full;
    }

    &__close-btn {
        @apply absolute lg:top-[2.375rem] lg:right-[2.375rem] top-2 right-2;
        @apply bg-gray-375 lg:rounded-[0.9375rem];
        @apply lg:p-4 p-1;
    }
}
</style>
