<template>
    <nuxt-icon class="dsb-svg-icon" :name="name" />
</template>

<script>
export default {
    props: {
        name: {
            type: String,
            default: ''
        }
    }
}
</script>
