<template>
    <div class="dsb-team-card">
        <img class="lg:w-full lg:mx-0 mx-auto" :alt="item.img" :src="getAssetSrc(item.img)" />

        <h4 class="mt-4 lg:text-left text-center">
            {{ item.name }}
        </h4>

        <div class="dsb-team-card__description lg:text-left text-center">
            {{ item.description }}
        </div>

        <p class="mt-4 relative">
            {{ item.info }}

            <button class="dsb-team-card__btn" @click="onClickOpenInfoModal(item)">Mehr lesen</button>
        </p>
    </div>
</template>

<script setup>
const getAssetSrc = (name) => {
    const path = `/assets/img/${name}`
    const modules = import.meta.glob('/assets/img/*', { eager: true })
    const mod = modules[path]

    return mod.default
}
</script>

<script>
export default {
    props: {
        item: {
            type: Object,
            default: () => ({})
        }
    },

    methods: {
        onClickOpenInfoModal() {
            this.$emit('clickOpenModal', this.item)
        },

        foo() {
            console.log(new URL(`../assets/img/${this.item.img}`, import.meta.url).href)
        }
    }
}
</script>

<style lang="postcss">
.dsb-team-card {
    &__description {
        @apply font-normal text-sm text-gray-400 text-opacity-50;
        @apply mt-2 min-h-[3.75rem];
    }

    &__btn {
        @apply font-bold text-[1.125rem] leading-[1.875rem] text-blue-400 underline;
    }
}
</style>
