<template>
    <footer class="dsb-default-layout-footer">
        <div class="sm:flex items-center">
            <img alt="wrChess" src="~/assets/img/flag.svg" class="mx-auto sm:mx-0" />

            <div class="dsb-default-layout-footer__copyright">© 2023 Wadim Rosenstein. All rights reserved</div>
        </div>

        <NuxtLink class="dsb-default-layout-footer__link" to="/impressum">IMPRESSUM</NuxtLink>
    </footer>
</template>

<style lang="postcss">
.dsb-default-layout-footer {
    @apply flex justify-between items-center lg:flex-row flex-col lg:space-y-0 space-y-4;
    @apply py-[3.25rem] px-20 mt-[4.125rem];
    @apply bg-gray-100;

    &__copyright {
        @apply text-xs font-normal text-gray-400 text-opacity-50;
        @apply sm:ml-[3.125rem] sm:mt-0 mt-5;
    }

    &__link {
        @apply text-xs font-normal text-gray-400 no-underline;
    }
}
</style>
