<template>
    <header class="dsb-default-layout-header">
        <NuxtLink to="/">
            <img alt="logo" src="~/assets/img/flag.svg" />
        </NuxtLink>

        <a class="lg:block hidden text-blue-400 text-[1.25rem] leading-[1.875rem] font-bold sm:mt-0 mt-5" href="mailto:presse@dsb2023.de"
            >presse@dsb2023.de</a
        >
    </header>
</template>

<style lang="postcss">
.dsb-default-layout-header {
    @apply flex sm:justify-between justify-center sm:flex-row flex-col;
    @apply pt-[3.75rem] px-[3.75rem] pb-[5.9375rem];
    @apply bg-gray-100;
}
</style>
