@import "./typography.css";

@tailwind base;
@tailwind components;

.wrapper {
    max-width: 70.625rem;

    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: auto;
    margin-right: auto;

    @screen md {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

#__nuxt {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@tailwind utilities;
