@font-face {
    font-family: 'Manrope';
    src: url('~/assets/fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('~/assets/fonts/Manrope-SemiBold.woff2') format('woff2'),
    url('~/assets/fonts/Manrope-SemiBold.woff') format('woff'),
    url('~/assets/fonts/Manrope-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('~/assets/fonts/Manrope-Medium.woff2') format('woff2'),
        url('~/assets/fonts/Manrope-Medium.woff') format('woff'),
        url('~/assets/fonts/Manrope-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fjalla One';
    src: url('~/assets/fonts/FjallaOne-Regular.woff2') format('woff2'),
        url('~/assets/fonts/FjallaOne-Regular.woff') format('woff'),
        url('~/assets/fonts/FjallaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    @apply font-body text-gray-400;

    h1 {
        @apply font-semibold text-gray-400 md:text-[3rem] md:leading-[4rem] text-[2rem] leading-[3rem];
        letter-spacing: -1px;
    }

    h2 {
        @apply font-normal text-gray-400 md:text-[2.25rem] md:leading-[3rem] text-[1.75rem] leading-[2rem];
        letter-spacing: -1px;
    }

    h3 {
        @apply font-bold md:text-[2.25rem] md:leading-[4rem] text-[1.75rem] leading-[2rem] uppercase text-gray-400;
        letter-spacing: -2px;
    }

    h4 {
        @apply font-normal md:text-[1.875rem] md:leading-[1.875rem] text-[1.25rem] leading-[2rem] text-gray-400;
    }

    h5 {
        @apply font-normal md:text-[2.25rem] md:leading-[1.875rem] text-[1.75rem] leading-[2.25rem] text-gray-400;
    }

    h6 {
        @apply font-normal md:text-[1.25rem] md:leading-[1.5rem] text-[1rem] leading-[1rem] text-gray-400;
    }

    ol {
        @apply pl-4;

        list-style-type: decimal;

        li {
            display: list-item;
        }
    }

    p, li {
        @apply font-normal md:text-[1.125rem] md:leading-[1.875rem] text-[1rem] leading-[1.5rem] text-gray-400;
    }

    a {
        @apply text-blue-400 underline;
    }
}
