<template>
    <div class="wrapper">
        <p class="mt-5">
            c/o WR Group Holding GmbH <br />
            Wadim Rosenstein <br />
            Hansaallee 247B <br />
            40549 Düsseldorf
        </p>

        <p class="mt-5">
            E-Mail: <a href="mailto:presse@dsb2023.de">presse@dsb2023.de</a> <br />
            Internet: <a href="https://dsb2023.de">www.dsb2023.de</a>
        </p>

        <h3 class="mt-5">Haftungshinweis:</h3>

        <p>
            Wadim Rosenstein prüft und aktualisiert die Informationen auf seiner Webseite ständig. Trotz aller Sorgfalt können sich Daten und
            Informationen jeglicher Art inzwischen verändert haben. Eine Haftung, Garantie oder sonstiges Einstehen für die Aktualität, Richtigkeit
            und Vollständigkeit der zur Verfügung gestellten Informationen kann daher nicht übernommen werden. Gleiches gilt auch für alle Webseiten,
            auf die direkt mittels Hyperlink oder in sonstiger Weise verwiesen wird. Wadim Rosenstein ist für den Inhalt der Webseiten, die aufgrund
            einer solchen Verbindung oder in sonstiger Weise erreicht werden, nicht verantwortlich. Wadim Rosenstein übernimmt ausdrücklich keine
            Haftung – gleich welcher Art. Dies gilt insbesondere für die Vertragshaftung, Deliktshaftung, Gefährdungshaftung oder sonstige Haftung für
            direkten oder indirekten Schadensersatz, Ersatz des beiläufig entstandenen Schadens, Strafen einschließlich Schadensersatz oder konkrete
            Schäden, die daraus resultieren oder in Zusammenhang damit stehen, dass Seiten von Wadim Rosenstein aufgerufen, benutzt oder nicht benutzt
            werden können. Dies gilt auch bei einem Leistungsausfall, einer Unterbrechung, einem Defekt, einer Übertragungsverzögerung, einem
            Computervirus oder sonstigen schädlichen Elementen oder einem Leitungs- und Systemausfall in Zusammenhang mit den Webseiten von Wadim
            Rosenstein, unabhängig davon, ob Wadim Rosenstein sich der Möglichkeiten solcher Schäden bewusst war oder nicht. Des Weiteren behält sich
            Wadim Rosenstein das Recht vor, jederzeit Änderungen oder Ergänzungen der bereitgestellten Informationen vorzunehmen.
        </p>

        <h3 class="mt-5">Urheberrechtshinweise:</h3>

        <p>
            Alle Texte, Bilder, Grafiken sowie das Layout unserer Webseiten unterliegen weltweitem Urheberrecht. Die unerlaubte Verwendung,
            Reproduktion oder Weitergabe einzelner Inhalte oder vollständiger Seiten werden sowohl straf- als auch zivilrechtlich verfolgt. Dabei sind
            nach deutschem Zivilrecht Unterlassung und Schadenersatz, Überlassung oder Vernichtung der Vervielfältigungsvorrichtungen sowie die
            öffentliche Bekanntmachung des Urteils gegen den Urheberrechtsverletzer möglich. Unterlassungsansprüche werden vom Gericht mit
            Ordnungsgeldern bis zu Euro 250.000,00 oder Ordnungshaft bis zu sechs Monaten abgesichert. Bei strafrechtlicher Verfolgung drohen dem
            Verletzer im Einzelfall Freiheitsstrafen bis zu fünf Jahren. Die Rechtsverfolgung nach den Gesetzgebungen anderer Länder wird hiermit
            angedroht und kann noch schärfere Konsequenzen nach sich ziehen. Die Zitierung von Inhalten ist gem. § 51 UrhG nur zulässig, soweit sie
            zur Erläuterung eigener Ausführungen dient und diese nicht ersetzt. Bei Zitaten ist gem. § 63 UrhG als Quelle unser Impressum anzugeben.
        </p>

        <h3 class="mt-5">Allgemeiner Hinweis:</h3>

        <p>
            Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“,
            Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den
            Cookie erzeugten Informationen über Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den
            USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über
            die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene
            Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich
            vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen
            Daten von Google in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser
            Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website
            vollumfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch
            Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.
        </p>
    </div>
</template>
