<template>
    <div class="dsb-main-page">
        <div class="dsb-main-page__author">
            <div class="wrapper lg:flex items-center">
                <div class="lg:mr-8">
                    <h1>Wadim Rosenstein</h1>
                    <h2>DSB-Präsidentschaftskandidat</h2>

                    <div class="hidden lg:block">
                        <h6 class="mt-10">Jahrgang 1990, Unternehmer</h6>
                        <h6>Kontakt: <a href="mailto:presse@dsb2023.de">presse@dsb2023.de</a></h6>
                    </div>
                </div>

                <img class="lg:mt-0 mt-5" alt="wadimRosensten" src="~/assets/img/wadimRosensten.png" />
            </div>
        </div>

        <div class="wrapper">
            <div class="program">
                <p>Wer einem Kind Schach beibringt, macht ihm ein Geschenk fürs Leben. </p>
                <p>Mir hat mein Großvater vor 26 Jahren dieses Geschenk gemacht, eines der besten, das ich je bekommen habe. Ich bin mir sicher, jede Schachspielerin und jeder Schachspieler vergisst nie diesen prägenden Tag der ersten Begegnung mit unserem wunderbaren Sport und unserem großartigen Spiel. Ob wir später Schachprofi werden, Hobbyspieler oder Schachfan: Etwas Besseres als Schach kann niemandem passieren. </p>
                <p>Ich bin dankbar, dass ich die Chance hatte, während meiner Jugend in Deutschland an meinem Schach zu feilen; zu lernen, zu trainieren und mich im sportlichen Wettkampf zu erproben. Ich habe an Trainingslagern und Talentsichtungen teilgenommen und mit meiner Mannschaft der Schachfreunde Köln-Mülheim die Jugendbundesliga gewonnen. Die Emotionen von damals, die Kindheitserinnerungen an Teamgeist und Zusammenhalt sind geblieben. Sie verbinden mich bis heute mit dem Schachsport. </p>
                <p>Mit dem Ende der Schulzeit und dem Erwachsenwerden ging es mir wie vielen anderen Schachspielern. Der Beruf hatte Vorrang, das Schach trat in den Hintergrund. Meine erste Firma habe ich mit 20 Jahren gegründet und seitdem in mehreren Branchen Unternehmen geführt und beraten. </p>
                <p>Heute bin ich Inhaber und CEO der in Düsseldorf ansässigen WR Group Holding GmbH. Anfangs bestand das Geschäft hauptsächlich aus Projektlogistik. Inzwischen habe ich unter dem Dach der WR Group weitere Unternehmen gegründet. Die WR Retail GmbH verkauft in Deutschland Hygieneartikel sowie Papierprodukte. Die WR Real Estate GmbH beschäftigt sich mit dem Bau und Kauf von Immobilien auf dem deutschen Markt. Die WR Events GmbH veranstaltet Schachturniere, unterstützt Talente und arbeitet an der Popularisierung des Schachs in Deutschland. Mit dem WR Chess Masters in Düsseldorf haben wir binnen 2 Wochen mehr als 35 Millionen Zuschauer erreicht. </p>
                <p>Für mich ist es an der Zeit, dem Schachsport zurückzugeben. Als ich von der schwierigen Haushaltslage beim Deutschen Schachbund und vom ausgefallenen Schachgipfel 2023 hörte, war für mich klar, ich möchte helfen. Ich bin überzeugt, dass ich die Fähigkeiten und Kenntnisse mitbringe, den Prozess, den wir jetzt brauchen, anzustoßen und zu steuern.</p>
                <p>Nicht nur im Schach, in allen Lebensbereichen kann ein starkes Team entscheidend für den Erfolg sein. Das gilt für unser Team, mit dem wir kandidieren, und das gilt jetzt schon für die Geschäftsstelle des Deutschen Schachbundes, in der ein starkes Team aus hervorragenden Fachleuten arbeitet. Aber um alle notwendigen Projekte umzusetzen, um möglichst schnell etwas Nachhaltiges aufzubauen, brauchen wir mehr Personal. </p>
                <p>Ich werde dieses Personal in der kommenden Wahlperiode finanzieren, damit wir unmittelbar in der Lage sind, die offenen Aufgaben mit offenem Visier anzugehen: zwei Stellen, ein hauptamtlicher Vizepräsident Verbandsentwicklung und eine Stelle für die Akquise und Pflege von Sponsoren. Mein persönliches und befristetes finanzielles Engagement sehe ich als Anschub, der den Deutschen Schachbund kurzfristig in die Lage versetzen soll, etwas langfristig Tragfähiges zu schaffen. </p>
                <p>Meine Vision ist es, Schach in Deutschland noch populärer zu machen. Ich möchte Deutschland als beliebtes Schachland und Ziel für Schachsportler aus aller Welt weiter etablieren. Die "WR Chess Masters” und “WR Chess Juniors" waren ein erster erfolgreicher Schritt. Mehr als 35 Millionen Menschen weltweit haben von diesen Turnieren erfahren. Im Sommer 2023 wird in Düsseldorf ein weiteres Top-Event stattfinden, ebenfalls mit Unterstützung von WR Chess: die erste Mannschafts-Schnellschach-Weltmeisterschaft.</p>
                <p>Im Falle meiner Wahl werde ich unermüdlich daran arbeiten, den Schachsport in Deutschland zu fördern. Das bedeutet auch, die dem Schach eigenen Kräfte freizusetzen, die dafür sorgen, dass wir dauerhaft die notwendigen Mittel für unsere Projekte zur Verfügung haben. Ich fühle mich dem Wachstum und dem Erfolg des Deutschen Schachbundes verpflichtet.</p>
            </div>

            <h3 class="mt-[7.75rem] text-center">Mein Team</h3>

            <div class="grid lg:grid-cols-3 gap-12 mt-[3.5625rem]">
                <DsbTeamCard v-for="(item, index) in teams" :key="index" :item="item" @clickOpenModal="onClickOpenTeamModal" />
            </div>

            <DsbModal :shown="isShownTeamModal" :item="selectedTeamUser" @closeModal="onCloseModal" />

            <h3 class="mt-[9.375rem]">Programm</h3>

            <div class="program">
                

                <p>
                    Finanzielle Stabilität, Transparenz, Robustheit. Diese drei Ziele stehen über allen anderen. Sie zu erreichen, sehen wir als unsere wichtigste Pflicht.
                    <br /><br />Unsere Mission und unsere Vision geht darüber hinaus: <br />
                    <ul>
                        <li>Sponsoren gewinnen, die den Schachsport unterstützen</li>
                        <li>einen Plan für die Entwicklung des Jugendschachs schmieden</li>
                        <li>ein wirkungsvolles soziales Projekt ins Leben rufen</li>
                        <li>Turniere und Wettbewerbe für unsere Spitzensportler organisieren</li>
                        <li>unsere besten Talente im Kampf um die internationale Spitze unterstützen</li>
                    </ul>
                </p>
                <img alt="program1" src="~/assets/img/program1.jpg" />

                <h5>Finanzen: Transparenz, Stabilität, Nachhaltigkeit</h5>

                <p>
                    Den Deutschen Schachbund drückt die Last eines jährlichen strukturellen Defizits. Mit einer Kombination aus sofortigen, mittelfristigen und langfristigen Maßnahmen wollen wir uns daraus befreien: 
                </p>

                <ol>
                    <li>Vom ersten Tag an gilt: völlige Transparenz</li>
                    <li>Kosten identifizieren, die wir senken können, insbesondere solche Kosten, die nicht zu Einnahmen führen</li>
                    <li>Einnahmequellen identifizieren, die wir (weiter) erschließen und ausbauen können</li>
                </ol>

                <p>
                    Ein erstes Zwischenziel wird sein, einen ausgeglichenen Haushalt für 2024 aufzustellen, nach Möglichkeit schon mit einem leichten Überschuss. Für den Haushalt 2025 und 2026 streben wir einen Überschuss an, der uns ermöglicht, Rücklagen zu bilden. Daraus soll ein Sicherheitsnetz entstehen, das verhindert, dass der DSB erneut in eine finanzielle Schieflage geraten kann.
                </p>

                <h5>Sponsoren: "Schachsponsoring ist eine Investition".</h5>

                <img alt="program2" src="~/assets/img/program2.jpg" />
                <span>Düsseldorfs Oberbürgermeister Dr. Stephan Keller, Schirmherr und Gast des WR Chess Masters. | Foto: Lennart Ootes</span>

                <p>Wir werden uns ehrgeizige Ziele setzen und konkrete Schritte entwickeln, um sie zu erreichen. Es gilt, sorgfältig zu planen und professionell umzusetzen. Wir brauchen: </p>

                <ol>
                    <li>
                        eine DSB-Abteilung für Sponsorensuche und -akquise, besetzt mit Fachleuten
                    </li>
                    <li>eine umfangreiche Liste potenzieller Sponsoren.</li>
                </ol>

                <p>Auf dieser Basis wollen wir dem deutschen Schach neue Türen öffnen. Wir werden alle potenziell interessierten Investoren, Sponsoren, Mäzene, Institutionen ansprechen, um sie für uns und unsere Sache zu gewinnen.</p>

                <p>Wadim Rosenstein: “Durch mein Engagement in der Schachwelt in Kombination mit meiner Erfahrung als erfolgreicher Unternehmer habe ich erhebliches Interesse von Unternehmen festgestellt, Schach zu unterstützen. Schach ist ein intellektueller Sport, der die Menschen schlauer macht. Schach erfreut sich hoher Beliebtheit in einer zunehmend jungen Zielgruppe. Unternehmen, die ein intelligentes, nobles, kultiviertes Image pflegen oder kreieren wollen, können nicht nur daran interessiert sein, Schach zu unterstützen – sie brauchen Schach tatsächlich. Wir sollten ihnen helfen, das zu verstehen.”</p>

                <p class="highlighted">Die Botschaft an die Sponsoren sollte lauten: "Schachsponsoring ist eine Investition."</p>

                <p>Wadim Rosenstein: “Ich bin bereit, diese Aufgaben im Interesse der finanziellen Stabilität und Nachhaltigkeit des Deutschen Schachbundes persönlich voranzutreiben.” </p>


                <h5>Jugend: Schach in Schulen; Trainer und Jugendwettbewerbe</h5>

                <img alt="program3" src="~/assets/img/program3.jpg" />
                <span>Die WR Chess Juniors. | Foto: Lennart Ootes</span>

                <p>
                    Je mehr Menschen in Deutschland Schach spielen, desto sichtbarer und wahrnehmbarer sind sie, desto attraktiver als Zielgruppe für Sponsoren. Je mehr Menschen Schach spielen, desto mehr finden den Weg in unsere Vereine. Je mehr Menschen Schach spielen, desto mehr Talente in ihren Reihen, desto höher die Chance, dass eine Kaderspielerin oder ein Kaderspieler des Deutschen Schachbunds einen Weltmeistertitel gewinnt. 
                </p>

                <p>
                    Kurz: Je mehr wir sind, desto besser.
                </p>

                <p>
                    Wir brauchen einen Plan, der dazu führt, dass immer mehr Kinder und Jugendliche Schach spielen. Einen wichtigen Baustein dieses Plans haben wir schon. Das erfolgreiche Projekt "Schach macht Schule" muss fortgesetzt werden. Wir müssen seine Finanzierung sichern.
                </p>

                <p>
                    Für einen zweiten wichtigen Baustein hat am 15. März 2012 das Europäische Parlament gesorgt. Es hat eine Erklärung verabschiedet, in der es "die Kommission und die Mitgliedstaaten auffordert, die Einführung des Programms 'Schach in der Schule' in den Bildungssystemen der Mitgliedstaaten zu fördern". Seitdem integrieren immer mehr Länder in Europa das Schulschach schrittweise als Teil des Lehrplans in ihr Bildungssystem.
                </p>

                <img alt="program4" src="~/assets/img/program4.jpg" />
                <span>WR-Chess-Turnierdirektor und Schach-Botschafter Sebastian Siebrecht. | Foto: Lennart Ootes</span>
                
                <p>
                    Mehr Schach in der Schule ist politisch gewollt. Damit können und wollen wir arbeiten. Um sicherzustellen, dass ein umfassendes "Schach in der Schule"-Programm erfolgreich ist, müssen wir dafür sorgen, dass wir
                </p>

                

                <ol>
                    <li>genügend kompetente Trainerinnen und Trainer haben</li>
                    <li>
                        einen Lehrplan für den Schachunterricht entwickeln, der von Lehrern unterrichtet werden kann, auch wenn sie keine professionellen Schachtrainer sind.
                    </li>
                </ol>

                <p>
                    Uns fehlen in erheblicher Zahl ausgebildete Leute, die das steigende Interesse am Schach bedienen. Die Entwicklung und ein deutlich größeres Angebot von Ausbildungskursen, Seminaren, Handbüchern usw. sind unerlässlich.
                </p>
                <p>
                    Außerdem sollten die talentiertesten Kinder in Deutschland ausreichend gefördert werden. Sie brauchen Gelegenheiten für Wettkampf auf hohem Niveau, sie brauchen die richtigen Bedingungen, um sich zu entwickeln. Dafür wollen wir sorgen: die Organisation von Trainingslagern, Freundschaftsspiele zwischen Verbänden, Trainings- und Coachingprogramme für Junioren und die Unterstützung von Jugendturnieren und -wettbewerben. 
                </p>

                


                <h5>Schach für alle</h5>

                <img alt="program5" src="~/assets/img/program5.jpg" />
                <span>NRW-Finanzminister Dr. Marcus Optendrenk mit Gastgeber Wadim Rosenstein beim WR Chess Masters. | Foto: Lennart Ootes</span>

                <p>
                    Nicht nur Investitionen in das Programm "Schach in der Schule" können die Zahl unserer Mitglieder auf Dauer erhöhen. Indem wir den Schachsport sichtbarer und erlebbarer machen, erzeugen wir Aufmerksamkeit und Interesse. Simultanvorstellungen unserer Kaderspieler können dazu beitragen, Spitzensport mit einem professionellen Erscheinungsbild auch. Nicht zuletzt dienen uns Großveranstaltungen als Schachmagneten. 
                </p>

                <p>
                    Die Deutsche Schach-Amateurmeisterschaft (DSAM) ist die wichtigste und erfolgreichste Turnierserie im Breitensport. Mit Gregor Johann und Sandra Schmidt haben wir eine professionelle Leitung dieser Turnierserie, über die wir uns mehr als glücklich schätzen können. Diesen Erfolg wollen wir fortführen und weiterentwickeln. In Zukunft sollen sich noch mehr Menschen, insbesondere solche, die noch nicht in einem Schachverein sind, für die DSAM begeistern.
                </p>

                <h5>Soziale Projekte: Der Gesellschaft etwas geben</h5>

                <img alt="program6" src="~/assets/img/program6.jpg" />
                <span>Trainingscamp für Talente am Rande des Superturniers. | Foto: Lennart Ootes</span>

                <p>
                    Schach war schon immer ein Sport und ein Spiel, das alle Barrieren durchbricht und die Menschen vereint, indem es jedem eine Chance gibt. Am Brett sind wir alle gleich. Deshalb haben soziale Projekte, die mit Schach verbunden sind, eine große Wirkung. Unser Plan ist, ein Projekt zu starten, mit dem wir Schach in die Kinderheime der Republik bringen.
                </p>


                <h5>Topspieler: Der erste deutsche Schachweltmeister (seit Emanuel Lasker)</h5>

                <img alt="program7" src="~/assets/img/photo_2023-03-11_14-35-59.jpg" />
                <span>Emanuel Lasker (Weltmeister 1894-1921). | via Cleveland Public Library</span>

                <p>
                    Deutschland hat in der Vergangenheit viele große Spieler hervorgebracht, darunter den legendären Weltmeister Emanuel Lasker. Vincent Keymer, Vizeweltmeister im Schnellschach 2022, hat das Potenzial, der nächste deutsche Schachweltmeister zu werden. Wir wollen sein Talent nach Kräften fördern – und das aller anderen deutschen Talente. 
                </p>

                <p>Vincent Keymer und unsere anderen talentierten Spieler (Deutschlands derzeitige Top-5-Spieler sind alle nach 1997 geboren!) können die Vorbilder sein, die Mädchen und Jungen in Deutschland für Schach begeistern. Wadim Rosenstein: “Dieses Thema liegt mir persönlich am Herzen. Deshalb hat WR Chess bereits ein Mini-Camp für Mädchen und Jungen, ein WR-Junioren-Schachturnier sowie viele Simultanvorstellungen für Kinder organisiert.”</p>

                <p>Unsere Nationalmannschaften sind mehr als fähig, Medaillen bei der Mannschafts-Europameisterschaft und sogar bei der Schacholympiade zu gewinnen, wenn sie die notwendige Unterstützung erhalten. Solche Erfolge können, sollen und werden zu einer weiteren Entwicklung und Popularisierung des Schachs in Deutschland beitragen.</p>

                <p>Mehr Turniere (sowohl für Spitzenspieler als auch für die breite Masse) zu haben, ist ein Schlüsselfaktor. Viele der besten Spieler der Welt spielen in den deutschen Bundesligen. Die Reform der zweiten Bundesliga wird auch diese noch stärker und attraktiver machen.</p>

                <p>Was noch fehlt, sind mehr Einzelturniere mit einem ähnlich hohen Prestige wie die Bundesliga. Das Wiederaufleben des Grenke Classic und Open 2024 wird ein guter Anfang sein, den wir gerne unterstützen. Alle anderen ambitionierten Schachorganisatoren werden in den kommenden Jahren mit dem Deutschen Schachbund einen engagierten Partner und Helfer an ihrer Seite haben.</p>

                <p>Für eine wichtige Veranstaltung mit Strahlkraft steht der Deutsche Schachbund selbst: den Deutschen Schachgipfel. Wadim Rosenstein: “Ich garantiere, dieses Markenzeichen des deutschen Schachs 2024 wieder zu organisieren.”</p>

                <p>
                    Das ist unsere Idee für die Zukunft des Deutschen Schachbundes und des Schachsports in Deutschland. Wir freuen uns über eure Anregungen, Ideen und euer Feedback. Schreibt uns unter <a href="mailto:presse@dsb2023.de">presse@dsb2023.de</a>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: () => ({
        teams: [
            {
                img: 'JanWerner.jpg',
                name: 'Jan Werner',
                description: 'Vorsitzender Düsseldorfer Schachklub 1914/25 e.V.',
                info: 'Kosten senken, Einnahmen erhöhen, die Liquidität sichern. Was der Deutsche Schachbu...',
                motivation: `
                    <p class="mt-10">Kosten senken, Einnahmen erhöhen, die Liquidität sichern. Was der Deutsche Schachbund braucht, hat sich längst herumgesprochen. Was im Detail zu tun ist, das ist nicht vollständig geklärt, und wer darüber befinden und wachen soll, muss der Kongress jetzt entscheiden. Ich stehe zur Verfügung. Als neuer Vizepräsident Finanzen werde ich im Team mit Wadim Rosenstein und Paul Meyer-Dunker helfen, unseren Verband zu gesunden.</p>
                    <p class="mt-5">Als Syndikusanwalt des in Düsseldorf ansässigen, weltweit tätigen Großhandelsunternehmens METRO AG habe ich täglich mit Finanzkennzahlen zu tun. Ich betreue die Auslandsbeteiligungen der METRO, insbesondere in Asien und Mitteleuropa. Außerdem bin ich Chairman des Supply Chain Committee bei Eurocommerce, der europäischen Handelsorganisation.</p>
                    <p class="mt-5">Schach spiele ich seit meinem sechsten Lebensjahr. Bei den Schachfreunden Hannover von 1919 sowie beim Düsseldorfer Schachklub 1914/25 war ich lange Jahre 2. Vorsitzender. Seit 2018 bin ich 1. Vorsitzender des DSK. In meiner Zeit sind wir zweimal in die Schachbundesliga aufgestiegen. Als Vorsitzender des Niederrheinischen Schachverbands 1901 e.V. bin ich Mitglied im erweiterten Präsidium des Schachbunds NRW.</p>
                    <p class="mt-5">Der Schwerpunkt meiner Arbeit als Vizepräsident Finanzen des Deutschen Schachbunds ergibt sich aus der besonderen Verantwortung dieser Funktion: die Aufarbeitung fortsetzen, solides Haushalten und Bilanzieren, um möglichst bald wieder Handlungsspielräume zu schaffen. Diesen Prozess werde ich transparent und im Dialog mit unseren Gremien vorantreiben. Mittelfristig möchte ich auch meine Erfahrung im Gestalten und Organisieren von Spitzenschach in die Arbeit unseres Präsidiums einbringen.</p>
                `
            },
            {
                img: 'PaulMeyerDunker.jpg',
                name: 'Paul Meyer-Dunker',
                description: 'Präsident des Berliner Schachverbandes',
                info: 'Was mich antreibt, ist leicht auf den Punkt gebracht: die Leidenschaft fürs Schach. Ich liebe...',
                motivation: `
                    <p class="mt-10">Was mich antreibt, ist leicht auf den Punkt gebracht: die Leidenschaft fürs Schach. Ich liebe diesen Sport. Als DSB-Vizepräsident für Verbandsentwicklung werde ich helfen, ihn auf allen Ebenen zu entwickeln, ihn bekannter, beliebter, angesehener und anerkannter zu machen: als Wettkampfsport, als Bildungsinstrument und nicht zuletzt als Spiel, das wie kaum ein anderes Menschen aller Generationen verbindet.</p>
                    <p class="mt-5">Wadim Rosensteins Anregung, als hauptamtlicher Vizepräsident zu einem tragenden Teil eines Neuanfangs zu werden, entspreche ich mit Freude. Meine geplante Funktion als hauptamtlicher Vizepräsident des Deutschen Schachbunds nimmt eine Debatte auf, die wir seit langem führen. Wie in vergangenen Jahren werden wir auch beim Kongress 2023 Berichte eines ehrenamtlichen Präsidiums hören, das hunderte, wenn nicht tausende Stunden Arbeit für unseren Verband geleistet hat. Danke dafür! Aber wieder wird es heißen: „Ehrenamtlich ist das kaum zu machen.“
                    </p>
                    <p class="mt-5">In der gegenwärtigen finanziellen Krise unseres Verbands stehen wir vor Monaten, vielleicht Jahren der Konsolidierung. Meine Stärken werden dazu beitragen, die Zeit, bis wir Luft zum Gestalten haben, zu verkürzen. Im Landesverband Berlin konnte ich binnen kurzer Zeit unnötige Kosten streichen, durch konsequentes Netzwerken mit Sponsoren und Unterstützern und dem Erschließen neuer, öffentlicher Förderung neue Einnahmequellen generieren und damit deutlich größere Entscheidungs- und Gestaltungsspielräume eröffnen. Daran will ich auf Bundesebene anknüpfen.</p>
                    <p class="mt-5">Auch an meine bisherige Arbeit in der DSB-Geschäftsstelle werde ich als Teil des neuen Präsidiums anknüpfen. In der Presse- und Öffentlichkeitsarbeit habe ich mir in kurzer Zeit das größte Pressenetzwerk im deutschen Schach aufgebaut. Ich will es kontinuierlich erweitern und im Sinne des deutschen Schachs einsetzen.</p>
                `
            }
        ],

        selectedTeamUser: null,

        isShownTeamModal: false
    }),

    methods: {
        onClickOpenTeamModal(item) {
            this.selectedTeamUser = item

            this.isShownTeamModal = true
        },

        onCloseModal() {
            this.isShownTeamModal = false

            this.selectedTeamUser = null
        }
    }
}
</script>

<style lang="postcss">
.dsb-main-page {
    &__author {
        @apply bg-gray-100 pb-[4.1875rem];
    }
}
.program p {
    @apply mt-4;
}
.program .highlighted {
    @apply mt-4 italic underline;
}
.program h5 {
    @apply mt-[3.75rem] mb-8;
}
.program ul {
    @apply list-decimal	inline-block ml-8;
}
.program ol {
    @apply list-disc inline-block ml-8;
}
.program img {
    @apply mt-4;
}
.program span {
    @apply font-normal text-sm text-gray-400 text-opacity-50 text-center;
}
</style>
